In [ ]:
#DATA ON AIR QUALITY
#for historical analysis, see pollution trends over the years
#https://opendata-ajuntament.barcelona.cat/data/en/dataset/qualitat-aire-detall-bcn

In [1]:
import pandas as pd
import glob

In [2]:
file_list = glob.glob('air_quality_data/*.csv')

df_air_quality = pd.DataFrame()

for file in file_list:
    df = pd.read_csv(file)
    df_air_quality = pd.concat([df_air_quality, df])

df_air_quality.reset_index(drop=True, inplace=True)

In [3]:
df_air_quality

,CODI_PROVINCIA,PROVINCIA,CODI_MUNICIPI,MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,8,Barcelona,19,Barcelona,4,7,2020,1,1,3.00,...,18.0,V,40.0,V,44.0,V,31.0,V,33.0,V
1,8,Barcelona,19,Barcelona,4,7,2020,1,2,13.00,...,18.0,V,10.0,V,3.0,V,57.0,V,NaN,N
2,8,Barcelona,19,Barcelona,4,7,2020,1,3,33.00,...,56.0,V,46.0,V,40.0,V,32.0,V,NaN,N
3,8,Barcelona,19,Barcelona,4,7,2020,1,4,12.00,...,5.0,V,7.0,V,2.0,V,3.0,V,NaN,N
4,8,Barcelona,19,Barcelona,4,7,2020,1,5,1.00,...,73.0,V,53.0,V,33.0,V,29.0,V,25.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89198,8,Barcelona,19,Barcelona,57,101,2024,4,28,1.36,...,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N
89199,8,Barcelona,19,Barcelona,43,9,2024,4,25,10.00,...,6.0,V,7.0,V,8.0,V,9.0,V,8.0,V
89200,8,Barcelona,19,Barcelona,43,9,2024,4,26,7.00,...,6.0,V,6.0,V,7.0,V,7.0,V,6.0,V
89201,8,Barcelona,19,Barcelona,43,9,2024,4,27,6.00,...,13.0,V,13.0,V,14.0,V,17.0,V,16.0,V
89202,8,Barcelona,19,Barcelona,43,9,2024,4,28,14.00,...,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N

This data represents air quality measurements taken from different monitoring stations in the city of Barcelona. 

- CODI_PROVINCIA, PROVINCE, CODI_MUNICIPI, MUNICIPALI: Code and name of the province and municipality.
- ESTACIO: Air monitoring station code.
- CODI_CONTAMINANT: Code of the contaminant measured.
- ANY, MES, DIA: Year, month and day of the measurement.
- H(nn): Contaminant values measured at the specified time. The value is indicated only if the measurement has been validated (V).
- V(nn): Indicates whether the measurement was validated (V) or not available (N) at the specified time.

The main objective of this dataset is to monitor the levels of contaminants in the air in different areas of Barcelona. Contaminants may include ground-level ozone (O3), nitrogen dioxide (NO2), PM10 particulate matter, among others. Measurements are taken every hour and may or may not be validated.

For example, the line:  
08,Barcelona,019,Barcelona,043,999,2024,4,25,21.4,V,25.3,V,26.3,V,26.4,V,27,V,24.7,V,20.7,V,17.9,V,19, V,18.8,V,19.1,V,17,V,16.9,V,18.9,V,17.4,V,17.4,V,17.2,V,17.1,V,17.7,V,19.3,V,19,V, 17.9,V,20.9,V,21.5,V  
indicates that in the monitoring station with code 043 in Barcelona, on April 25, 2024, measured values (in micrograms per cubic meter or other specified units) for various pollutants were recorded over several hours, and all values were validated (V ).

In [4]:
df_air_quality.to_csv('df_air_quality.csv', index=False)

In [5]:
df_air_quality = pd.read_csv('df_air_quality.csv')
df_air_quality

,CODI_PROVINCIA,PROVINCIA,CODI_MUNICIPI,MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,8,Barcelona,19,Barcelona,4,7,2020,1,1,3.00,...,18.0,V,40.0,V,44.0,V,31.0,V,33.0,V
1,8,Barcelona,19,Barcelona,4,7,2020,1,2,13.00,...,18.0,V,10.0,V,3.0,V,57.0,V,NaN,N
2,8,Barcelona,19,Barcelona,4,7,2020,1,3,33.00,...,56.0,V,46.0,V,40.0,V,32.0,V,NaN,N
3,8,Barcelona,19,Barcelona,4,7,2020,1,4,12.00,...,5.0,V,7.0,V,2.0,V,3.0,V,NaN,N
4,8,Barcelona,19,Barcelona,4,7,2020,1,5,1.00,...,73.0,V,53.0,V,33.0,V,29.0,V,25.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89198,8,Barcelona,19,Barcelona,57,101,2024,4,28,1.36,...,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N
89199,8,Barcelona,19,Barcelona,43,9,2024,4,25,10.00,...,6.0,V,7.0,V,8.0,V,9.0,V,8.0,V
89200,8,Barcelona,19,Barcelona,43,9,2024,4,26,7.00,...,6.0,V,6.0,V,7.0,V,7.0,V,6.0,V
89201,8,Barcelona,19,Barcelona,43,9,2024,4,27,6.00,...,13.0,V,13.0,V,14.0,V,17.0,V,16.0,V
89202,8,Barcelona,19,Barcelona,43,9,2024,4,28,14.00,...,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N

In [6]:
df_air_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89203 entries, 0 to 89202
Data columns (total 57 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CODI_PROVINCIA    89203 non-null  int64
 1   PROVINCIA         89203 non-null  object
 2   CODI_MUNICIPI     89203 non-null  int64
 3   MUNICIPI          89203 non-null  object
 4   ESTACIO           89203 non-null  int64
 5   CODI_CONTAMINANT  89203 non-null  int64
 6   ANY               89203 non-null  int64
 7   MES               89203 non-null  int64
 8   DIA               89203 non-null  int64
 9   H01               86118 non-null  float64
 10  V01               89203 non-null  object
 11  H02               86558 non-null  float64
 12  V02               89203 non-null  object
 13  H03               87009 non-null  float64
 14  V03               89203 non-null  object
 15  H04               87244 non-null  float64
 16  V04               89203 non-null  object
 17  H05               87245 non-null  float64
 18  V05               89203 non-null  object
 19  H06               87237 non-null  float64
 20  V06               89203 non-null  object
 21  H07               87234 non-null  float64
 22  V07               89203 non-null  object
 23  H08               87235 non-null  float64
 24  V08               89203 non-null  object
 25  H09               87026 non-null  float64
 26  V09               89203 non-null  object
 27  H10               86058 non-null  float64
 28  V10               89203 non-null  object
 29  H11               84477 non-null  float64
 30  V11               89203 non-null  object
 31  H12               84223 non-null  float64
 32  V12               89203 non-null  object
 33  H13               84410 non-null  float64
 34  V13               89203 non-null  object
 35  H14               85024 non-null  float64
 36  V14               89203 non-null  object
 37  H15               85581 non-null  float64
 38  V15               89203 non-null  object
 39  H16               86169 non-null  float64
 40  V16               89203 non-null  object
 41  H17               87135 non-null  float64
 42  V17               89203 non-null  object
 43  H18               87276 non-null  float64
 44  V18               89203 non-null  object
 45  H19               87258 non-null  float64
 46  V19               89203 non-null  object
 47  H20               87287 non-null  float64
 48  V20               89203 non-null  object
 49  H21               87143 non-null  float64
 50  V21               89203 non-null  object
 51  H22               87007 non-null  float64
 52  V22               89203 non-null  object
 53  H23               86767 non-null  float64
 54  V23               89203 non-null  object
 55  H24               70271 non-null  float64
 56  V24               89203 non-null  object
dtypes: float64(24), int64(7), object(26)
memory usage: 38.8+ MB

In [7]:
df_air_quality.isnull().sum()

CODI_PROVINCIA          0
PROVINCIA               0
CODI_MUNICIPI           0
MUNICIPI                0
ESTACIO                 0
CODI_CONTAMINANT        0
ANY                     0
MES                     0
DIA                     0
H01                  3085
V01                     0
H02                  2645
V02                     0
H03                  2194
V03                     0
H04                  1959
V04                     0
H05                  1958
V05                     0
H06                  1966
V06                     0
H07                  1969
V07                     0
H08                  1968
V08                     0
H09                  2177
V09                     0
H10                  3145
V10                     0
H11                  4726
V11                     0
H12                  4980
V12                     0
H13                  4793
V13                     0
H14                  4179
V14                     0
H15                  3622
V15                     0
H16                  3034
V16                     0
H17                  2068
V17                     0
H18                  1927
V18                     0
H19                  1945
V19                     0
H20                  1916
V20                     0
H21                  2060
V21                     0
H22                  2196
V22                     0
H23                  2436
V23                     0
H24                 18932
V24                     0
dtype: int64

All H(nn) columns have many missing values.  
Remember:  
H(nn): Contaminant values measured at the specified time. The value is indicated only if the measurement has been validated (V).

In [8]:
# I try to remove the missing values:

df_air_quality_cleaned = df_air_quality.copy()
df_air_quality_cleaned.dropna(inplace=True)
df_air_quality_cleaned

#from 89203  rows to 62570 rows

,CODI_PROVINCIA,PROVINCIA,CODI_MUNICIPI,MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,8,Barcelona,19,Barcelona,4,7,2020,1,1,3.00,...,18.00,V,40.00,V,44.00,V,31.00,V,33.00,V
4,8,Barcelona,19,Barcelona,4,7,2020,1,5,1.00,...,73.00,V,53.00,V,33.00,V,29.00,V,25.00,V
12,8,Barcelona,19,Barcelona,4,7,2020,1,13,35.00,...,19.00,V,27.00,V,18.00,V,45.00,V,70.00,V
15,8,Barcelona,19,Barcelona,4,7,2020,1,16,18.00,...,11.00,V,6.00,V,11.00,V,50.00,V,82.00,V
17,8,Barcelona,19,Barcelona,4,7,2020,1,18,11.00,...,4.00,V,5.00,V,3.00,V,35.00,V,37.00,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89196,8,Barcelona,19,Barcelona,57,101,2024,4,26,1.47,...,1.79,V,1.97,V,1.75,V,1.61,V,1.71,V
89197,8,Barcelona,19,Barcelona,57,101,2024,4,27,1.70,...,1.68,V,1.66,V,1.75,V,1.57,V,1.98,V
89199,8,Barcelona,19,Barcelona,43,9,2024,4,25,10.00,...,6.00,V,7.00,V,8.00,V,9.00,V,8.00,V
89200,8,Barcelona,19,Barcelona,43,9,2024,4,26,7.00,...,6.00,V,6.00,V,7.00,V,7.00,V,6.00,V
89201,8,Barcelona,19,Barcelona,43,9,2024,4,27,6.00,...,13.00,V,13.00,V,14.00,V,17.00,V,16.00,V

Since missing values in the 'H(nn)' columns indicate that the measurement has not been validated, we should carefully consider how to handle these missing values.  

- Deleting lines:
We can choose to delete rows with missing values in the 'H(nn)' columns if we believe these measurements invalid are not representative of the data we wish to analyze.

- Imputation of missing values:
We can impute missing values using techniques such as the mean or median of valid values in the same columns, assuming that missing measurements are similar to valid measurements.

- Separate analysis of validated and non-validated data:
We can separate the data into two datasets, one containing only the valid measurements and another containing only the measurements invalid.  
This will allow us to look at valid and invalid data separately and make informed decisions based on that to each subset of data.

To experiment with different methods of missing value imputation and decide which is most suitable, I consider three main approaches:  

- Linear Interpolation:
Leverages nearby values to estimate missing data, assuming a linear relationship between points.

- Moving Average:
Calculates the average of a number of time points around the missing data.

- Model-Based Imputation:
Use a regression model or machine learning algorithm to predict missing values based on other related features in the dataset.

In [ ]:
#1. Linear Interpolation
# This technique works well with time series where missing values can be reasonably estimated through neighboring values.

Linear interpolation is a simple and commonly used method for estimating missing values between two known data points.  
This type of interpolation assumes that the exchange rate between points is constant, meaning that the relationship between points can be accurately represented with a straight line.  
This makes it particularly suitable for data that changes relatively uniformly.  

Limitations:  
- Linear interpolation works well with data that changes linearly, but can be inaccurate or misleading with data that shows nonlinear changes, sudden jumps, or more complex trends.
- It also doesn't extend well outside the range of known data, a practice called extrapolation, which can lead to highly inaccurate results.

In [11]:
data_interpolated = df_air_quality.interpolate(method='linear', limit_direction='both', axis=0)

C:\Users\maldi\AppData\Local\Temp\ipykernel_19480\2153705831.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data_interpolated = df_air_quality.interpolate(method='linear', limit_direction='both', axis=0)

In [12]:
data_interpolated

,CODI_PROVINCIA,PROVINCIA,CODI_MUNICIPI,MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,8,Barcelona,19,Barcelona,4,7,2020,1,1,3.00,...,18.00,V,40.00,V,44.000,V,31.000,V,33.00,V
1,8,Barcelona,19,Barcelona,4,7,2020,1,2,13.00,...,18.00,V,10.00,V,3.000,V,57.000,V,31.00,N
2,8,Barcelona,19,Barcelona,4,7,2020,1,3,33.00,...,56.00,V,46.00,V,40.000,V,32.000,V,29.00,N
3,8,Barcelona,19,Barcelona,4,7,2020,1,4,12.00,...,5.00,V,7.00,V,2.000,V,3.000,V,27.00,N
4,8,Barcelona,19,Barcelona,4,7,2020,1,5,1.00,...,73.00,V,53.00,V,33.000,V,29.000,V,25.00,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89198,8,Barcelona,19,Barcelona,57,101,2024,4,28,1.36,...,3.84,N,4.33,N,4.875,N,5.285,N,4.99,N
89199,8,Barcelona,19,Barcelona,43,9,2024,4,25,10.00,...,6.00,V,7.00,V,8.000,V,9.000,V,8.00,V
89200,8,Barcelona,19,Barcelona,43,9,2024,4,26,7.00,...,6.00,V,6.00,V,7.000,V,7.000,V,6.00,V
89201,8,Barcelona,19,Barcelona,43,9,2024,4,27,6.00,...,13.00,V,13.00,V,14.000,V,17.000,V,16.00,V
89202,8,Barcelona,19,Barcelona,43,9,2024,4,28,14.00,...,13.00,N,13.00,N,14.000,N,17.000,N,16.00,N

In [ ]:
#2. Moving Average
# This technique averages the data points around each missing value, providing an estimate based on the local trend of the data.

In the context of missing value imputation, the moving average is used to estimate missing values based on the average of available values within a given time window.  
This method assumes that the data are fairly homogeneous or exhibit regular trends over time, making plausible the idea that a missing value can be reasonably approximated by the average of its temporal neighbors.  

Advantages:
- Simplicity: Easy to understand and implement.
- Smooth Fluctuations: Useful in data with small random fluctuations, where the mean of a window can actually represent a good estimate of the true value.  

Limitations:
- Not Suitable for Strong Trends: If the data shows strong trends or sudden changes, the moving average may not be able to adequately capture these movements, resulting in inadequate estimates.
- Data Edges: At the edges of the series, the window has less data to include, which can lead to less accurate estimates.
- Window Size Dependence: Choosing the correct window size is crucial; windows that are too small or too large can lead to less than optimal results.

In [9]:
numeric_data = df_air_quality.select_dtypes(include=['float64', 'int64'])

data_filled = numeric_data.fillna(numeric_data.rolling(window=3, min_periods=1, center=True).mean())

In [10]:
data_filled

,CODI_PROVINCIA,CODI_MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,H02,H03,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,8,19,4,7,2020,1,1,3.00,3.00,2.00,...,8.000,5.000,2.00,1.0,1.000,18.00,40.00,44.000,31.000,33.00
1,8,19,4,7,2020,1,2,13.00,7.00,6.00,...,11.000,9.000,11.00,12.0,20.000,18.00,10.00,3.000,57.000,33.00
2,8,19,4,7,2020,1,3,33.00,13.00,16.00,...,14.000,9.000,16.00,20.0,59.000,56.00,46.00,40.000,32.000,NaN
3,8,19,4,7,2020,1,4,12.00,11.00,10.00,...,17.000,25.000,24.00,14.0,10.000,5.00,7.00,2.000,3.000,25.00
4,8,19,4,7,2020,1,5,1.00,1.00,2.00,...,8.000,4.000,3.00,5.0,31.000,73.00,53.00,33.000,29.000,25.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89198,8,19,57,101,2024,4,28,1.36,1.71,1.84,...,3.515,3.475,3.32,3.9,3.855,3.84,4.33,4.875,5.285,4.99
89199,8,19,43,9,2024,4,25,10.00,10.00,9.00,...,5.000,5.000,5.00,6.0,6.000,6.00,7.00,8.000,9.000,8.00
89200,8,19,43,9,2024,4,26,7.00,7.00,7.00,...,5.000,6.000,6.00,6.0,6.000,6.00,6.00,7.000,7.000,6.00
89201,8,19,43,9,2024,4,27,6.00,7.00,6.00,...,13.000,12.000,11.00,11.0,12.000,13.00,13.00,14.000,17.000,16.00
89202,8,19,43,9,2024,4,28,14.00,13.00,12.00,...,13.000,12.000,11.00,11.0,12.000,13.00,13.00,14.000,17.000,16.00

In [ ]:
#3. Model-Based Imputation
# A more sophisticated approach uses regression models to estimate missing values based on other characteristics in the dataset.

Model-Based Imputation is an advanced technique that uses machine learning algorithms or statistical models to predict and impute missing values in a dataset.  
This method considers the relationship between variables in the dataset to make more accurate predictions than simpler methods such as imputation by mean or median.

Advantages:
- Precision: Generally, it provides more accurate estimates than simpler methods, as it uses complex information and relationships between variables.
- Flexibility: Can be adapted to different data types and complex relationships.

Limitations:
- Complexity: Requires a deeper understanding of statistical and machine learning models.
- Risk of Overfitting: If the model is too complex compared to the amount of data, it can overfit to the training data, resulting in poor performance on new data.
- Dependence on the Quality of the Training Data: The quality of the imputations strongly depends on the quality and representativeness of the data used to train the model.

In [22]:
# Creating the 'DATE' column by combining the 'ANY', 'MES' and 'DIA' columns
df_air_quality['DATE'] = pd.to_datetime(df_air_quality[['ANY', 'MES', 'DIA']].astype(str).agg('-'.join, axis=1))

In [23]:
df_air_quality

,CODI_PROVINCIA,PROVINCIA,CODI_MUNICIPI,MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,...,V20,H21,V21,H22,V22,H23,V23,H24,V24,DATE
0,8,Barcelona,19,Barcelona,4,7,2020,1,1,3.00,...,V,40.0,V,44.0,V,31.0,V,33.0,V,2020-01-01
1,8,Barcelona,19,Barcelona,4,7,2020,1,2,13.00,...,V,10.0,V,3.0,V,57.0,V,NaN,N,2020-01-02
2,8,Barcelona,19,Barcelona,4,7,2020,1,3,33.00,...,V,46.0,V,40.0,V,32.0,V,NaN,N,2020-01-03
3,8,Barcelona,19,Barcelona,4,7,2020,1,4,12.00,...,V,7.0,V,2.0,V,3.0,V,NaN,N,2020-01-04
4,8,Barcelona,19,Barcelona,4,7,2020,1,5,1.00,...,V,53.0,V,33.0,V,29.0,V,25.0,V,2020-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89198,8,Barcelona,19,Barcelona,57,101,2024,4,28,1.36,...,N,NaN,N,NaN,N,NaN,N,NaN,N,2024-04-28
89199,8,Barcelona,19,Barcelona,43,9,2024,4,25,10.00,...,V,7.0,V,8.0,V,9.0,V,8.0,V,2024-04-25
89200,8,Barcelona,19,Barcelona,43,9,2024,4,26,7.00,...,V,6.0,V,7.0,V,7.0,V,6.0,V,2024-04-26
89201,8,Barcelona,19,Barcelona,43,9,2024,4,27,6.00,...,V,13.0,V,14.0,V,17.0,V,16.0,V,2024-04-27
89202,8,Barcelona,19,Barcelona,43,9,2024,4,28,14.00,...,N,NaN,N,NaN,N,NaN,N,NaN,N,2024-04-28

# Next Steps:

In [ ]:
#Creating the model:
#We select relevant features and train a classification model using algorithms
#like Random Forest or Gradient Boosting.